header {
  width: 100%;
  background: #343434;
}

header nav {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .menu-item {
  font-weight: 700;
  color: #FFF;
  text-decoration: none;
  padding: 10px;
}

header .menu-item:hover {
  color: #2DC72D;
}

section {
  width: 100%;
  max-width: 1100px;
  margin: 20px auto 0;
}

section h1 {
  font-size: 48px;
  color: #343E4A;
  border-bottom: 4px solid #707070;
}

section .content-list,
section .form-content {
  width: 100%;
  margin: 20px 0 0 0;
}

.content-list .content-list-title,
.content-list .content-list-item  {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.content-list-title {
  font-size: 16px;
  color: #2DC72D;
  border-bottom: 1px solid #F2F2F2;
}

.content-list-item {
  font-size: 16px;
}

.content-list .title {
  padding: 10px;
  flex: 1;
}

.content-list .action {
  padding: 10px;
}

.action-icon {
  color: #2DC72D;
}

.action-icon:hover {
  color: #2B9B3A;
}

.input-field {
  width: 100%;
  margin: 0 0 10px 0;
}

.input-field label {
  width: 100%;
  margin: 0 0 4px 0;
  display: block;
  color: #343434;
}

.input-field input,
.input-field select {
  width: 100%;
  height: 42px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 6px;
}

.button {
  width: 100%;
  height: 42px;
  border-radius: 4px;
}

.button-confirm {
  color: #FFF;
  background: #3FDB54;
  border: 1px solid #2FE413;
}

.form-login {
  width: calc(100% - 20px);
  max-width: 400px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px 6px rgba(0, 0, 0, 0.16);
}

.form-login h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
}
